<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="line" value="-----------------------------------"/>
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}.log"
            archiveEvery="Day"
            archiveFileName="${basedir}/Logs/Log${shortdate}-{#}.log"
            archiveNumbering="Sequence"
            layout="${date:format=yyyy.MM.dd HH\:mm\:ss} | ${message} ${newline} ${line} ${newline}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="logfile" />
  </rules>
</nlog>
